
.sidebar {
	background-color: var(--secondaryDark);
	padding: 20px;
	border-radius: 15px;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, .3);
}

.sidebar a {
	color: var(--primaryBlue);
}

.sidebar a:hover {
	color: var(--secondaryBlue);
}

.sidebar img {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin: -20px;
	margin-top: -30px;
	margin-bottom: 0px;
	display: block;
	width: calc(100% + 40px);
}

.sidebar h2 {
	font-size: 2em;
}

.sidebar p {
	font-size: 1.25em;
}
