:root {
	--primaryDark: #282828;
	--secondaryDark: #3c3836;
	--primaryLight: #d5c4a1;
	--secondaryLight: #d5c4a1;
	--primaryBlue: #458588;
	--secondaryBlue: #4f8ec2;
}

.tooltip_templates { display: none; }

a {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.tooltipster-box {
    background: #3c38369F !important;
    border: 0px  !important;
    border-radius: 15px !important;
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
}

.tooltipster-box p {
	color: var(--primaryLight);
	font-size: 1.3em;
}

.tooltipster-box h1 {
	color: var(--primaryLight)
}

.tooltipster-box a {
	color: var(--primaryBlue)
}
.tooltipster-box a:hover {
	color: var(--secondaryBlue)
}

.tooltipster-arrow-border {
    border: 0px !important;
}

.tooltipster-arrow-background {
    border-top-color: #3c38362F !important;
}

.md-content {
	background-color: var(--primaryDark); 
}

.md-typeset blockquote {
    padding-left: .6rem;
    border-left: .2rem solid var(--primaryLight);
    color: var(--primaryLight);
    opacity: 70%;
}

.md-typeset hr {
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.75);
  width: 50%;
}

hr:before,
hr:after {
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  display: block;
  border-width: 0 1px 1px 0;
  border-color: rgba(128, 128, 128, 0.75);
  border-style: solid;
  box-sizing: border-box;
  border-radius: 100%;
}

.md-typeset hr:before {
  transform: translateZ(0) rotate(-45deg);
  left: -10px;
}

.md-typeset hr:after {
  transform: translateZ(0) rotate(135deg);
  right: -10px;
}

body {
	color: var(--primaryLight);
}

.md-typeset .codehilite,
.md-typeset .highlight {
	background-color: var(--secondaryDark);
}

.md-typeset code {
	box-shadow: 0em 0 0 hsla(0,0%,0%,0),0em 0 0 hsla(0,0%,0%,0);
}

.md-typeset code, .md-typeset pre {
	background-color: var(--secondaryDark);
	color: var(--primaryLight);
}

.md-typeset a {
	color: var(--primaryBlue);
}

a[href$=".md"]
{
	color: var(--secondaryBlue);
}

.md-typeset a:active, .md-typeset a:hover {
	color: var(--secondaryBlue);
}

.md-main {
	background-color: var(--primaryDark);
}

.md-typeset h1 {
	color: var(--primaryLight);
}

.md-header {
	background-color: var(--secondaryDark);
	color: var(--primaryLight);
}

.md-typeset .md-content__icon {
	color: var(--primaryLight);
}

.md-nav__link[data-md-state="blur"] {
	color: var(--secondaryLight);
}

.md-nav__link:focus, .md-nav__link:hover {
	color: var(--primaryBlue);
}

.md-nav__link--active, .md-nav__link:active {
	color: var(--primaryBlue);
}

.md-footer-nav {
	color: var(--primaryLight);
	background-color: var(--primaryDark);
}

.md-footer-meta {
	background-color: var(--primaryDark);
	color: var(--primaryLight);
}

.md-search__input {
	color: var(--primaryLight);
	background-color: var(--primaryDark);
}

@media only screen and (max-width:59.9375em) {
	.md-search__overlay {
		background-color: var(--primaryDark);
	}
}

[data-md-toggle=search]:checked~.md-header .md-search__input {
	background-color: var(--primaryDark);
	color: var(--primaryLight);
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__input + .md-search__icon, [data-md-toggle="search"]:checked ~ .md-header .md-search__input::placeholder {
	color: var(--primaryLight);
}

.md-search__input ~ .md-search__icon {
	color: var(--primaryLight);
}

.md-search-result__meta {
	color: var(--primaryLight);
	background-color: var(--primaryDark);
}

.md-search-result__list {
	color: var(--primaryLight);
	background-color: var(--primaryDark);
}

.md-search-result__teaser {
	color: var(--primaryLight);
}

.md-search-result__article--document::before {
	color: var(--primaryLight);
}

.md-search-result__link:hover, .md-search-result__link[data-md-state="active"] {
	background-color: var(--secondaryDark)
}

.md-search__scrollwrap {
	background-color: var(--primaryDark)
}

html .md-nav--primary .md-nav__title ~ .md-nav__list {
	background-color: var(--primaryDark);
}

html .md-nav--primary .md-nav__title {
	background-color: var(--primaryDark);
	color: var(--primaryLight);
}

html .md-nav--primary .md-nav__title::before {
	color: var(--primaryLight);
}
@media only screen and (max-width:76.1875em) {
	.md-nav {
		background-color: var(--primaryDark);
	}
}

.codehilite .gd, .md-typeset .highlight .gd {
	background-color: #00000000;
}

.codehilite .gi, .md-typeset .highlight .gi {
	background-color: #00000000;
}

.md-clipboard::before {
	color: var(--primaryDark);
	
}

.codehilite:hover .md-clipboard::before, .md-typeset .highlight:hover .md-clipboard::before, pre:hover .md-clipboard::before {
	color: var(--primaryLight);
}
